body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

section {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
}

.task {
    padding: 10px;
    margin: 5px 0;
    border-left: 6px solid gray;
}

.high { border-color: red; }
.medium { border-color: orange; }
.low { border-color: green; }
